<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form</title>
</head>
<body>
<h2> Form</h2>
<form method="POST"   id="personForm" data-branches-url="{% url 'ajax_load_branches' %}" action="{% url 'person_add' %}">
    {% csrf_token %}
    {{form.as_p}}
    <label>Materials </label><br>
        <input type="checkbox" name="book"><label>Notebook</label><br>
        <input type="checkbox" name="pen"><label>Pen</label><br>
        <input type="checkbox" name="papper"><label>Pappers</label><br><br>
            <input class="btn btn-primary" type="submit" value="Submit">

</form>
       <a href="{% url 'save' %}">Done</a>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_department").change(function () {
        const url = $("#personForm").attr("data-branches-url");  // get the url of the `load_cities` view
        const departmentId = $(this).val();  // get the selected department ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'department_id': departmentId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_course").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (course) {
                    html_data += `<option value="${course.id}">${course.name}</option>`
                });
                console.log(html_data);
                $("#id_course").html(html_data);

                */
            }
        });

    });
</script>

</body>
</html>